html, body { height: 100%; margin: 0; padding-left: 0.5em; padding-top: 0.5em; background: #faebd7; color: black;}
#messages { height: 90%;overflow: auto;}
#userlist { width: 11em; position: absolute;  bottom: 1px; right: 1px; border: 1px dashed gray; padding: 1em; background: #faebd7;}
#userlist ul {list-style-type: none; padding-left: 0px;}
#RTCmessage {background-color: lightyellow;}
#sendButton { width: 6em; }
#diceform {position: absolute; bottom: 10%; right: 45%; margin: 1em; padding: 1em; border: 1px dashed grey; width: 13em; background: #faebd7}
#diceform input {width: 6em;}
#closediceform {position: absolute; top: 0px; right: 3px;}
#colorpicker {width: 28px; height: 24px; margin: 1px; padding: 1px; cursor: pointer;}
img {vertical-align: bottom;}
#disconnecticon {margin-bottom: 1px;}
